body{
  background-color: white;
}

.box1{
  border: 3px dotted purple;
  margin: 100px;
  height: 400px;
}

.text{
  border: 3px dotted white;
}

.dominos{
  height: 200px;
  width: 200px;
  border: dashed 1px white;
  padding: 10px;
}

.text p{
  margin: 15px;
}
